.calculate_saturation(@a) {
  @result: percentage((-0.00021875 * @a * @a + 0.21875 * @a + 40.3125 - 5) *0.01);
}

.calculate_light(@a) {
  @result: percentage((-0.075 * @a  + 97.5) *0.01);
}

@light_list: 50, 100, 200, 300, 400, 500, 600, 700, 800, 900, 950;

each(@light_list, {
  .bg-gray-@{value} {
    background: hsl(0, 0%, .calculate_light(@value)[@result]);
  }

  .bg-blue-@{value} {
    background: hsl(200, .calculate_saturation(@value)[@result], .calculate_light(@value)[@result]);
  }

  .bg-green-@{value} {
    background: hsl(135, .calculate_saturation(@value)[@result], .calculate_light(@value)[@result]);
  }

  .bg-red-@{value} {
    background: hsl(0, .calculate_saturation(@value)[@result], .calculate_light(@value)[@result]);
  }

  .text-gray-@{value} {
    color: hsl(0, 0%, .calculate_light(@value)[@result]);
  }

  .text-blue-@{value} {
    color: hsl(208, .calculate_saturation(@value)[@result], .calculate_light(@value)[@result]);
  }

  .text-green-@{value} {
    color: hsl(114, .calculate_saturation(@value)[@result], .calculate_light(@value)[@result]);
  }

  .text-red-@{value} {
    color: hsl(0, .calculate_saturation(@value)[@result], .calculate_light(@value)[@result]);
  }
})

.bg-white {
  background: #fff;
}

.bg-black {
  background: #3b3b3b;
}

.text-white {
  color: #fff;
}

.text-black {
  color: #3b3b3b;
}

.bg-transparent {
  background: transparent !important;
}

@media screen and (min-width: 768px) {
  .md\:bg-transparent {
    background: transparent !important;
  }
}