.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.grow {
  flex-grow: 1;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .md\:display-none {
    display: none !important;
  }

  .md\:display-flex {
    display: flex;
  }
}
