.display-grid {
  display: grid;
}

@cols_list: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12;
each(@cols_list, {
  .grid-cols-@{value} {
    grid-template-columns: repeat(@value, minmax(0, 1fr));
  }
})

@media screen and (min-width: 768px) {
  each(@cols_list, {
    .md\:grid-cols-@{value} {
      grid-template-columns: repeat(@value, minmax(0, 1fr));
    }
  })
}